/*estilos universales*/
*{
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}

/*estilos generales de body*/
body{
    margin: 0;
    font-family: 'roboto', sans-serif;
    background-color: #eeeeee;
}
button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 6px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: #2E86AB;
}
button:hover{
    background-color: #297799;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.color-acento{
    color: #297799;
}

/*estilos navbar*/
header{
    background-color: rgb(245,245,245);
    
}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #2E86AB;
    font-size: 1.6em;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
header a:hover{
    color: #2E86AB;
}
/*estilos de inicio o hero*/
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    min-height: 90vh;
    color: white;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url(media/Historia-de-la-Mineria-12.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero h1{
    color: white;
}

#nosotros{
    text-align: center;
    padding: 200px 12px;
}
/*servicios estilos del griidlayound*/
#servicios{
    background-color: rgb(30, 30, 30);
    text-align: center;
    color: white;
}

#servicios .container{
    text-align: center;
    padding: 100px 12px;
    
}

#servicios {
    background-color: rgb(30, 30, 30);
    text-align: center;
    color: white;
}

#servicios .container {
    text-align: center;
    padding: 100px 12px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas por defecto */
    gap: 20px; /* Espacio entre los elementos de la cuadrícula */
}

.grid-container > div {
    width: 100%; /* Los elementos hijos ocupan el 100% del ancho disponible */
}

/* Media query para pantallas de al menos 720px */


#servicios h2{
    margin-top: 0;
    font-size: 3em;

}
#servicios p{
    display: none;
}


#servicios .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 12px;
    border-radius: 15px;
}
.carta:first-child{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url(media/consultora.jfif);
}
.carta:nth-child(2){
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url(media/consultora.jfif);
}
.carta:nth-child(3){
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url(media/consultora.jfif);
}


/* Estilos generales */
#contactos {
    padding: 50px 0;
  }
  
  #contactos .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  

  
  #contactos p {
    font-size: 1.3em;
    color: #666;
    margin-bottom: 40px;
  }
  
  /* Estilo para el bloque del formulario con sombra */
  .container-contact-form {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra para resaltar el bloque */
  }
  
  /* Estilos para el formulario */
  .form-contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .contact-camp {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .contact-camp .contact-nom,
  .contact-camp .contact-email {
    flex: 1;
    min-width: 200px;
  }
  
  .contact-nom label,
  .contact-email label,
  .contact-phone label,
  .contact-message label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
    width: 100%; /* Asegura que no se mueva horizontalmente */
    white-space: nowrap; /* Evita que el texto del label se desborde en una nueva línea */
    overflow: hidden; /* Oculta cualquier contenido que se desborde horizontalmente */
    text-overflow: ellipsis;
  }
  
  .contact-nom input,
  .contact-email input,
  .contact-phone input,
  .contact-message textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1.3em;
    color: #333;
  }
  
  .contact-nom input::placeholder,
  .contact-email input::placeholder,
  .contact-phone input::placeholder,
  .contact-message textarea::placeholder {
    color: #999;
  }
  
  /* Restringir el tamaño del textarea a solo vertical */
  .contact-message textarea {
    resize: vertical; /* Permite solo el redimensionamiento vertical */
    min-height: 80px; /* Altura mínima para el textarea */
  }
  
  /* Estilos responsivos */
  @media screen and (max-width: 749px) {
    .grid-container {
        grid-template-columns: 1fr; /* 1 columna para pantallas más pequeñas */
    }
}
@media (min-width: 750px) {
    header {
        position: fixed;
        width: 100%;
    }
    header .container {
        flex-direction: row;
        justify-content: space-between;
    }
    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    #hero h1 {
        font-size: 5em;
    }
    #nosotros .container {
        display: flex;
        justify-content: space-evenly;
    }
    #nosotros .text {
        width: 50%;
        text-align: center;
        padding: 0px 30px;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #nosotros h2 {
        padding: 0px;
    }
    #nosotros .img-container {
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ), url(media/OIP.jfif);
        background-size: cover;
        background-position: center center;
        height: 400px;
        width: 600px;
    }
    #servicios .programas {
        display: flex;
        justify-content: center;
    }
    #servicios p {
        display: block;
        margin-bottom: 30px;
    }
    #servicios h3 {
        margin-top: 0px;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas para pantallas más anchas */
    } 
    #servicios .carta {
        padding: 10px;
    }
    .form-contact {
        gap: 15px;
    }
    .contact-camp {
        flex-direction: column;
    }
    button {
        width: 100%;
        padding: 15px;
    }
}


footer {
    background-color: rgb(230,230,230);
}
footer p {
    margin: 0; 
    padding: 12px;
    color: rgb(100,100,100);
}
footer .container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


